{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "みんなの日記| Enjoy Language" %}{% endblock %}

{% block active_diary_list1 %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
               <form id="ajax-add-post" action="{% url 'diary:ajax_post_add' %}" method="POST" >
                 {% csrf_token %}
                   <!-- 日記本文 -->
                   <textarea class="form-control" rows="8" id="id_content" required>日記を書こう！</textarea>
                   <!--ファイル選択-->
                    <div class="custom-file mt-3 mb-1">
                     <input  type="file" accept="image/*" id="input_image1" >
                    </div>
                    <div class="custom-file mb-1">
                      <input  type="file" accept="image/*" id="input_image2" >
                    </div>
                    <div class="custom-file mb-1">
                      <input  type="file" accept="image/*" id="input_image3" >
                    </div>
                    <!--ボタンブロック-->
                  <div class="form-group row">
                      <div class="col-sm-12">
                          <button type="submit" class="btn btn-primary btn-block">投稿</button>
                      </div>
                  </div>
                  <!--/ボタンブロック-->
               </form>
             </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <!-- 日記リスト -->
                <div class="" id="diarys">
                {% include 'diary/diary_list.html' %}
                </div>
                <!-- 画像拡大用 -->
                <div class="modal-wrapper" style="z-index: 5">
                    <img src="" alt="" class="modal-image">
                </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<!-- 日記作成 -->
<script type="text/javascript">
  $(document).on('change', ':file', function() {
      var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.parent().parent().next(':text').val(label);
  });


  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  // 送信ボタンで呼ばれる
  $('#ajax-add-post').on('submit', e => {
      // デフォルトのイベントをキャンセルし、ページ遷移しないように!
      e.preventDefault();

      let file1 = document.getElementById('input_image1').files[0];
      let file2 = document.getElementById('input_image2').files[0];
      let file3 = document.getElementById('input_image3').files[0];
      let content = document.getElementById('id_content').value;

      let fd = new FormData();
      fd.append('content', content);
      fd.append('image', file1);
      fd.append('image', file2);
      fd.append('image', file3);

      $.ajax({
          url: '{% url "diary:ajax_post_add" %}',
          type: 'POST',
          // 'processData':false,
          // 'contentType':false,
          contentType : false,
          processData : false,
          data: fd,
          dataType: 'json'
      //ajax成功
      }).done( d => {
          // テンプレートに追加するhtmlタグを作成
          const p1 =`
          <div class="card" >
            <!-- 投稿者の情報 -->
            <div class="card-header bg-transparent border-bottom-0">
              <div class="row">
                <div class="col-auto">`;

                  const profile_url = "{% url 'pages:profile' 123456 %}".replace(/123456/, d.user_id);
                  console.log(profile_url);

                  if (d.photo_url) {
                    var p2 =`<a  href=${profile_url}>
                    <img class="rounded-circle" src="${d.photo_url}" width="50" height="50"/>
                    </a>`;
                    } else {
                    var p2 =  `<a  href=${profile_url}>
                              <img class="rounded-circle" src="" width="50" height="50"/>
                            </a>`;
                  }

                  const p3 =`</div>
                  <div class="col">
                    <div class="row">
                      <div class="col-auto">
                        <b>${d.nickname}</b>
                      </div>
                      <div class="col">
                        <b>${d.mother_language }→${d.learn_language}</b>
                      </div>
                    </div>
                    <!-- 日記の更新日時 -->
                    <div class="row">
                      <div class="col">
                        <small>${d.created_at}</small>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="card-body">
                  <!-- 日記のテキスト情報（タイトルはなし）　抜粋 -->
                  <p class="card-text">${d.content}</p>
                  </div>`;

                  // <!-- 日記写真（あれば表示、最大3） -->
if (d.photo1) {
  var p4 = `<div class="row text-center align-items-center px-1">
                  <div class="col">
                    <img src="${d.photo1}" class="img-fluid image" data-src="${d.photo1}"/>
                  </div>`;
                  if (d.photo2){
                    p4 += `<div class="col">
                                        <img src="${d.photo2}" class="img-fluid image" data-src="${d.photo2}"/>
                                      </div>`;
                                      if(d.photo3){
                                        p4 += `<div class="col">
                                                              <img src="${d.photo3}" class="img-fluid image" data-src="${d.photo3}"/>
                                                            </div>`;
                                      }
                  }
            p4 +=`</div>`;
} else{
  var p4 ="";
}

const diary_update_url = "{% url 'diary:diary_update' 123456 %}".replace(/123456/, d.diary_id);
const diary_delete_url = "{% url 'diary:diary_delete' 123456 %}".replace(/123456/, d.diary_id);
const p5 =`
            <!-- 日記リストフッター -->
            <div class="card-footer bg-transparent border-top-0">
              <div class="row justify-content-end">
                <!-- 日記編集ボタン -->
                <div class="col-auto text-right align-items-center mt-3 mb-3">
                  <a class="btn btn-success " href=${diary_update_url}>{% trans "編集" %}</a>
                  <!-- 日記削除ボタン -->
                  <button type="button" class="btn btn-danger delete-modal-button" data-toggle="modal" data-deleteurl="${diary_delete_url}" data-target="#modal_delete">
                    {% trans "削除" %}
                  </button>
                </div>
              </div>
              <div class="row justify-content-start">
`;

const p6 = `
<!-- いいね、コメント数 -->
<div class="col-3">
  <form action="{% url 'diary:like' %}" method="POST">
    {% csrf_token %}
     <!-- いいねをする -->
     <button type="submit"  name="diary_id" value="${d.diary_id}" class="btn btn-light border-secondary like">{% trans "いいね" %} <span class="badge badge-light">0</span></button>
  </form>
</div>
`;

const comment_create_url = "{% url 'comments:comments_create' 123456 %}".replace(/123456/, d.diary_id);

const p7 =`                <div class="col-3">
                  <a class="btn btn-light border-secondary"  href=${comment_create_url}  rel="nofollow" name="num_comment">{% trans "コメント" %} <span class="badge badge-light">0</span></a>
                </div>

                <!-- 翻訳をする -->
                <div class="col">
                     <form action="{% url 'diary:translate' %}" method="POST" target="_blank" name="form1">
                       {% csrf_token %}
                       <!-- 元の言語 -->
                       <!-- 翻訳する言語 -->
                        <!-- 翻訳をする -->
                        <button type="submit"  id="translate_${d.diary_id}" name="diary_id" value="${d.diary_id}" class="btn btn-light border-secondary translate">{% trans "日本語を英語に翻訳" %} </button>
                     </form>
                </div>
              </div>
            </div>
          </div>
          <hr>
`;

//各htmlを結合
const card_add = p1+p2+p3+p4+p5+p6+p7;

                  // フォームを空白にする
                  $('#diarys').prepend (card_add);
                  $('#id_content').val('');
                  $('#input_image1').val('');
                  $('#input_image2').val('');
                  $('#input_image3').val('');

              });
          });


</script>
<script type="text/javascript">
  var ajax_post_delete_url = '{% url "diary:ajax_post_delete" %}';
</script>

<!-- いいね -->
<script type="text/javascript">
  const LikeButtons = document.getElementById('diarys');//いいねボタン

  LikeButtons.addEventListener("click", (event) => {
    const div_liked = event.target.closest('#liked');

    if (event.target.classList.contains("like") === true ) {
      event.preventDefault();

    var diary_id = event.target.getAttribute("value");
    console.log(diary_id);
      $.ajax({
          url: '{% url "diary:like" %}',
          type: 'POST',
          data: {
            'diary_id': diary_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          }
      //ajax成功
      }).done( response => {
        console.log(response);
        let diary_id =response["context"]["diary_id"];
        let liked =response["context"]["liked"];
        let likes = response["context"]["likes"];

          // HTMLを変更
        console.log(diary_id);
        console.log(liked);

        if(liked){
          html=`<button type="submit"  name="diary_id" value="${diary_id}" class="btn btn-danger like">{% trans "いいね" %} <span class="badge badge-light">${likes}</span></button>`
        }
        else{
          html=` <button type="submit"  name="diary_id" value="${diary_id}" class="btn btn-light border-secondary like">{% trans "いいね" %} <span class="badge badge-light">${likes}</span></button>`
        }

          div_liked.innerHTML=html
            });
          };
  });
</script>

<!-- 翻訳 -->
<script type="text/javascript">
  const translateButtons = document.getElementById('diarys');//翻訳ボタンの親要素

  translateButtons.addEventListener("click", (event) => {
    console.log(event.target);
    const div_card = event.target.closest('.card');
    let div_translated = div_card.getElementsByClassName('translated');


    if (event.target.classList.contains("translate") === true ) {
      event.preventDefault();

    var diary_id = event.target.getAttribute("value");

      $.ajax({
          url: '{% url "diary:translate" %}',
          type: 'POST',
          data: {
            'diary_id': diary_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          }
      //ajax成功
      }).done( response => {
        let translated =response;

        // HTMLを変更
        div_translated[0].innerHTML=`${translated}`

            });
          };
  });

</script>


<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/script_delete.js' %}"></script>
{% endblock %}
