{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "プロフィール | Enjoy Language" %}{% endblock %}
{% block active_profile %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
  <div class="row">
    <div class="my-div-style w-100">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if request.user.id == object_id %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'pages:profile_change' %}">{% trans "プロフィールを編集" %}</a>
                </div>
        {% endif %}
        <div class="row">
          <div class="col">
            {% for profile in profile_list %}
              {% if profile.profile_photo %}
                <img class="rounded-circle" src="{{ profile.profile_photo.url }}" width="200" height="200"/>
              {% endif %}
          </div>
          <div class="col mt-3">
            <small>{% trans "登録日: " %}{{ profile.date_joined }}</small>
          </div>
        </div>
          <div class="row my-3">
            <div class="col">{% trans "名前: " %}{{ profile.nickname }}　　{{ profile.get_gender_display }}</div>
          </div>
          <div class="row my-2">
            <div class="col">
              {% trans "年齢: " %}{{ profile.age }}
            </div>
          </div>
          <div class="row my-2">
            <div class="col">
              {% trans "母語： " %}{{ profile.get_mother_language_display }}
            </div>
          </div>
          <div class="row my-2">
            <div class="col">
              {% trans "学習言語: " %}{{ profile.get_learn_language_display }}
            </div>
          </div>
          <div class="row mt-5">
            <div class="col h3">
              {% trans "自己紹介： " %}
            </div>
          </div>
          <div class="row my-2">
            <div class="col">
              {{ profile.self_introduction }}
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="my-div-style w-100">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          <a class="btn btn-primary float-right my-3" href="{% url 'diary:diary_create' %}">{% trans "日記を書く" %}</a>
        </div>
        <!-- 日記リスト -->
        <div class="" id="diarys">
        {% include 'diary/diary_list.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
