{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "ユーザー検索(全ユーザー)| Enjoy Language" %}{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="row mt-5 mb-5 align-items-center">
                <div class="col">
                  <a class="btn btn-light border-secondary" href="{% url 'pages:user_search_all'  %}" >{% trans "全ユーザー" %}</a>
                </div>
                <div class="col">
                  <a class="btn btn-light border-secondary" href="{% url 'pages:user_search_mother_language'  %}">{% trans "学習を手伝おう" %}</a>
                </div>
                <div class="col">
                  <p class="btn btn-dark border-secondary text-white" >{% trans "学習仲間" %}</p>
                </div>
              </div>
                {% for user_item in user_search %}
                    <div class="post-preview">
                        <a class="nav-link" href="{% url 'pages:profile' user_item.pk %}">
                        <p>
                          {% if user_item.profile_photo %}
                              <img src="{{ user_item.profile_photo.url }}" width="50" height="50"/>
                          {% endif %}

                          {{ user_item.nickname }}　{{ user_item.age }}　{{ user_item.get_mother_language_display }}→{{ user_item.get_learn_language_display }}</p></a>
                    </div>
                    <hr>

                {% empty %}
                    <p>{% trans "該当するユーザーがいません。" %}</p>
                {% endfor %}

                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
